src/main/java/de/uni_hamburg/corpora/validation/quest/resources/xsd/exmaralda_exs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="segmented-transcription">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="head"/>
        <xs:element ref="segmented-body"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="conversion-info"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="head">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="meta-information"/>
        <xs:element ref="speakertable"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="segmented-body">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="common-timeline"/>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="segmented-tier"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="conversion-info">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="basic-transcription-conversion-info"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="meta-information">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="project-name"/>
        <xs:element ref="transcription-name"/>
        <xs:sequence maxOccurs="unbounded">
          <xs:element ref="referenced-file"/>
        </xs:sequence>
        <xs:element ref="ud-meta-information"/>
        <xs:element ref="comment"/>
        <xs:element ref="transcription-convention"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="speakertable">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="speaker"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="project-name" type="xs:string"/>

  <xs:element name="transcription-name" type="xs:string"/>

  <xs:element name="referenced-file">
    <xs:complexType>
      <xs:attribute name="url" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ud-meta-information">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ud-information"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="comment" type="xs:string"/>

  <xs:element name="transcription-convention" type="xs:string"/>

  <xs:element name="ud-information">
    <xs:complexType>
      <xs:attribute name="attribute-name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="speaker">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="abbreviation"/>
        <xs:element ref="sex"/>
        <xs:element ref="languages-used"/>
        <xs:element ref="l1"/>
        <xs:element ref="l2"/>
        <xs:element ref="ud-speaker-information"/>
        <xs:element ref="comment"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="abbreviation" type="xs:string"/>

  <xs:element name="sex">
    <xs:complexType>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="m"/>
            <xs:enumeration value="f"/>
            <xs:enumeration value="u"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="languages-used">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="language"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="l1">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="language"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="l2">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="language"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ud-speaker-information">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ud-information"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="language">
    <xs:complexType>
      <xs:attribute name="lang" type="xs:NMTOKEN" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="common-timeline">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tli"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="segmented-tier">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="timeline-fork"/>
        </xs:sequence>
        <xs:sequence maxOccurs="unbounded">
          <xs:element ref="segmentation"/>
        </xs:sequence>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="annotation"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required"/>
      <xs:attribute name="speaker" type="xs:IDREF"/>
      <xs:attribute name="category" type="xs:string" use="required"/>
      <xs:attribute name="display-name" type="xs:string"/>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="t"/>
            <xs:enumeration value="d"/>
            <xs:enumeration value="a"/>
            <xs:enumeration value="l"/>
            <xs:enumeration value="u"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="tli">
    <xs:complexType>
      <xs:attribute name="id" type="xs:ID" use="required"/>
      <xs:attribute name="time" type="xs:string"/>
      <xs:attribute name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="unsp"/>
            <xs:enumeration value="user"/>
            <xs:enumeration value="appl"/>
            <xs:enumeration value="intp"/>
            <xs:enumeration value="othr"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="bookmark" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="timeline-fork">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="tli"/>
      </xs:sequence>
      <xs:attribute name="start" type="xs:IDREF" use="required"/>
      <xs:attribute name="end" type="xs:IDREF" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="segmentation">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="ts"/>
          <xs:element ref="ats"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="tierref" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="annotation">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ta"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="tierref" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ts">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="ts"/>
          <xs:element ref="ats"/>
          <xs:element ref="nts"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="n" type="xs:string" use="required"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="s" type="xs:IDREF" use="required"/>
      <xs:attribute name="e" type="xs:IDREF" use="required"/>
      <xs:attribute name="medium">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="aud"/>
            <xs:enumeration value="vid"/>
            <xs:enumeration value="img"/>
            <xs:enumeration value="txt"/>
            <xs:enumeration value="oth"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="url" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ats">
    <xs:complexType>
      <xs:attribute name="n" type="xs:string" use="required"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="s" type="xs:IDREF" use="required"/>
      <xs:attribute name="e" type="xs:IDREF" use="required"/>
      <xs:attribute name="medium">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="aud"/>
            <xs:enumeration value="vid"/>
            <xs:enumeration value="img"/>
            <xs:enumeration value="txt"/>
            <xs:enumeration value="oth"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="url" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="nts">
    <xs:complexType>
      <xs:attribute name="n" type="xs:string" use="required"/>
      <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ta">
    <xs:complexType>
      <xs:attribute name="n" type="xs:string"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="s" type="xs:IDREF" use="required"/>
      <xs:attribute name="e" type="xs:IDREF" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="basic-transcription-conversion-info">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="conversion-timeline"/>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="conversion-tier"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="conversion-timeline">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="conversion-tli"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="conversion-tier">
    <xs:complexType>
      <xs:attribute name="segmented-tier-id" type="xs:IDREF" use="required"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="category" type="xs:string" use="required"/>
      <xs:attribute name="display-name" type="xs:string" use="required"/>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="t"/>
            <xs:enumeration value="a"/>
            <xs:enumeration value="d"/>
            <xs:enumeration value="l"/>
            <xs:enumeration value="u"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="conversion-tli">
    <xs:complexType>
      <xs:attribute name="id" type="xs:IDREF" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
