src/main/java/de/uni_hamburg/corpora/validation/quest/resources/xsd/exmaralda_exb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="basic-transcription">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="head"/>
        <xs:element ref="basic-body"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="tierformat-table"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="Id" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="head">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="meta-information"/>
        <xs:element ref="speakertable"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="basic-body">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="common-timeline"/>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="tier"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="tierformat-table">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="referenced-file"/>
        </xs:sequence>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="timeline-item-format"/>
        </xs:sequence>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="tier-format"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="meta-information">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="project-name"/>
        <xs:element ref="transcription-name"/>
        <xs:sequence maxOccurs="unbounded">
          <xs:element ref="referenced-file"/>
        </xs:sequence>
        <xs:element ref="ud-meta-information"/>
        <xs:element ref="comment"/>
        <xs:element ref="transcription-convention"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="speakertable">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="speaker"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="project-name" type="xs:string"/>

  <xs:element name="transcription-name" type="xs:string"/>

  <xs:element name="referenced-file">
    <xs:complexType>
      <xs:attribute name="url" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ud-meta-information">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ud-information"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="comment" type="xs:string"/>

  <xs:element name="transcription-convention" type="xs:string"/>

  <xs:element name="ud-information">
    <xs:complexType>
      <xs:attribute name="attribute-name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="speaker">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="abbreviation"/>
        <xs:element ref="sex"/>
        <xs:element ref="languages-used"/>
        <xs:element ref="l1"/>
        <xs:element ref="l2"/>
        <xs:element ref="ud-speaker-information"/>
        <xs:element ref="comment"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="abbreviation" type="xs:string"/>

  <xs:element name="sex">
    <xs:complexType>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="m"/>
            <xs:enumeration value="f"/>
            <xs:enumeration value="u"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="languages-used">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="language"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="l1">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="language"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="l2">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="language"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ud-speaker-information">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ud-information"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="language">
    <xs:complexType>
      <xs:attribute name="lang" type="xs:NMTOKEN" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="common-timeline">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tli"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="tier">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="ud-tier-information"/>
        </xs:sequence>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="event"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required"/>
      <xs:attribute name="speaker" type="xs:IDREF"/>
      <xs:attribute name="category" type="xs:string" use="required"/>
      <xs:attribute name="display-name" type="xs:string"/>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="t"/>
            <xs:enumeration value="d"/>
            <xs:enumeration value="a"/>
            <xs:enumeration value="l"/>
            <xs:enumeration value="u"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="tli">
    <xs:complexType>
      <xs:attribute name="id" type="xs:ID" use="required"/>
      <xs:attribute name="time" type="xs:string"/>
      <xs:attribute name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="unsp"/>
            <xs:enumeration value="user"/>
            <xs:enumeration value="appl"/>
            <xs:enumeration value="intp"/>
            <xs:enumeration value="othr"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="bookmark" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ud-tier-information">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ud-information"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="event">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="ud-information"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="start" type="xs:IDREF" use="required"/>
      <xs:attribute name="end" type="xs:IDREF" use="required"/>
      <xs:attribute name="medium">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="aud"/>
            <xs:enumeration value="vid"/>
            <xs:enumeration value="img"/>
            <xs:enumeration value="txt"/>
            <xs:enumeration value="oth"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="url" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="timeline-item-format">
    <xs:complexType>
      <xs:attribute name="show-every-nth-numbering" type="xs:string"/>
      <xs:attribute name="show-every-nth-absolute" type="xs:string"/>
      <xs:attribute name="absolute-time-format">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="decimal"/>
            <xs:enumeration value="time"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="miliseconds-digits" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="tier-format">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="property"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="tierref" type="xs:string" use="required"/>
      <xs:attribute name="style-name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Plain"/>
            <xs:enumeration value="Bold"/>
            <xs:enumeration value="Italic"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="size">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="17"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="19"/>
            <xs:enumeration value="20"/>
            <xs:enumeration value="21"/>
            <xs:enumeration value="22"/>
            <xs:enumeration value="23"/>
            <xs:enumeration value="24"/>
            <xs:enumeration value="25"/>
            <xs:enumeration value="26"/>
            <xs:enumeration value="27"/>
            <xs:enumeration value="28"/>
            <xs:enumeration value="29"/>
            <xs:enumeration value="30"/>
            <xs:enumeration value="31"/>
            <xs:enumeration value="32"/>
            <xs:enumeration value="33"/>
            <xs:enumeration value="34"/>
            <xs:enumeration value="35"/>
            <xs:enumeration value="36"/>
            <xs:enumeration value="37"/>
            <xs:enumeration value="38"/>
            <xs:enumeration value="39"/>
            <xs:enumeration value="40"/>
            <xs:enumeration value="41"/>
            <xs:enumeration value="42"/>
            <xs:enumeration value="43"/>
            <xs:enumeration value="44"/>
            <xs:enumeration value="45"/>
            <xs:enumeration value="46"/>
            <xs:enumeration value="47"/>
            <xs:enumeration value="48"/>
            <xs:enumeration value="72"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="alignment-name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Left"/>
            <xs:enumeration value="Right"/>
            <xs:enumeration value="Center"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="textcolor-name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="white"/>
            <xs:enumeration value="lightGray"/>
            <xs:enumeration value="darkGray"/>
            <xs:enumeration value="black"/>
            <xs:enumeration value="red"/>
            <xs:enumeration value="pink"/>
            <xs:enumeration value="orange"/>
            <xs:enumeration value="yellow"/>
            <xs:enumeration value="green"/>
            <xs:enumeration value="magenta"/>
            <xs:enumeration value="cyan"/>
            <xs:enumeration value="blue"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="bgcolor-name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="white"/>
            <xs:enumeration value="lightGray"/>
            <xs:enumeration value="darkGray"/>
            <xs:enumeration value="black"/>
            <xs:enumeration value="red"/>
            <xs:enumeration value="pink"/>
            <xs:enumeration value="orange"/>
            <xs:enumeration value="yellow"/>
            <xs:enumeration value="green"/>
            <xs:enumeration value="magenta"/>
            <xs:enumeration value="cyan"/>
            <xs:enumeration value="blue"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="property">
    <xs:complexType>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="font-color"/>
            <xs:enumeration value="bg-color"/>
            <xs:enumeration value="font-size"/>
            <xs:enumeration value="font-name"/>
            <xs:enumeration value="font-face"/>
            <xs:enumeration value="chunk-border"/>
            <xs:enumeration value="chunk-border-color"/>
            <xs:enumeration value="chunk-border-style"/>
            <xs:enumeration value="text-alignment"/>
            <xs:enumeration value="row-height-calculation"/>
            <xs:enumeration value="fixed-row-height"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

</xs:schema>
